.edit-profile-box {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  /* animation: scaleUp 0.5s ease-in-out; */
}

.edit-profile-box input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-cancel,
.btn-save {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cancel {
  background-color: #aaa;
  color: white;
}

.btn-save {
  background-color: #007bff;
  color: white;
}

.btn-save:hover {
  background-color: #0056b3;
}

.btn-cancel:hover {
  background-color: #888;
}

/* Tambahan untuk foto profil */
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 15px auto;
  border: 2px solid #007bff;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.profile-img:hover {
  box-shadow: 0 0 10px #007bff;
}
