.dashboard {
  padding: 5px;
  background-color: #a6ff00;
  font-family: Arial, sans-serif;
}

.dashboard-header {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  margin-bottom: 16px;
  text-align: center;
}

.aset-saya {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-weight: bold;
}

.hidden-balance {
  color: #222;
}

.grafik {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
}

.grafik-card {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pie-chart {
  height: 150px;
  background-color: #eaeaea;
  border-radius: 8px;
  margin-top: 8px;
}

.transaksi-summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-weight: bold;
}

.pemasukan {
  color: green;
}

.pengeluaran {
  color: red;
}

.home-image {
  width: 50px; /* Atur lebar sesuai kebutuhan */
  height: auto; /* Agar tinggi menyesuaikan proporsi asli */
  display: block; /* Menghindari efek inline */
  right: 100 auto; /* Memposisikan di tengah */
}
