.dashboard {
  padding: 5px;
  background-color: #2868b1;
  font-family: Arial, sans-serif;
}

.viewnama {
  color: #fff;
  text-align: center;
}

.dashboard-header {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  margin-bottom: 16px;
  text-align: center;
}

.aset-saya {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
  font-weight: bold;
}

.balance-display {
  font-family: monospace;
  color: #222;
}

.eye-icon {
  font-size: 20px;
  cursor: pointer;
  color: #222;
  transition: transform 0.2s ease;
}

.eye-icon:hover {
  transform: scale(1.2);
}

.grafik {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
}

.grafik-card {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pie-chart {
  height: 150px;
  background-color: #eaeaea;
  border-radius: 8px;
  margin-top: 8px;
}

.transaksi-summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-weight: bold;
}

.pemasukan {
  color: green;
}

.pengeluaran {
  color: red;
}

.home-image {
  width: 50px;
  height: auto;
  display: block;
  margin: 100 auto;
}
