.login-container {
  --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background: linear-gradient(to right, #6a11cb, #2575fc); */
  background-color: rgb(48, 97, 172);
  padding: 20px;
 
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
  width: 100%;
  
}

.register-action {
  color: #007BFF;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;

}

.register-action:hover {
  color: #0056b3;
}

.form-wrapper {
  background-color: rgb(43, 154, 228);
  color: #000000;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 320px;
  margin-top: 45%;
  margin-left: 12%;
  
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #ffffff;
}

.input-label {
  margin: 10px 0 5px;
  font-size: 14px;
  color: #444;
}

.input-container {
  --background: #f0f0f0;
  --color: #333;
  --padding-start: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.login-button {
  margin-top: 10px;
  background: #2196f3;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
}

.login-button:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(106, 17, 203, 0.4);
}
